# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VS Code config
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp

# Ignore only in root
/output/
/content/
/themes/
/custa.config.yaml

# Allow inside project_template
!project_template/output/
!project_template/content/
!project_template/themes/
!project_template/custa.config.yaml

# Build artifacts
dist/
build/
*.egg-info/

# Other
publish.md
