# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VS Code config
.vscode/

# Output files
output/
*.html

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp
