:root {
  --background: #121217;
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary: #1e1e2a;
  --navbar-dark-secondary: #2a2a3d;
  --navbar-light-primary: #ffffff;
  --navbar-light-secondary: #888fa6;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);
}

.container {
  position: relative;
}

.content {
  padding-left: var(--navbar-width);
  height: 100vh;
  overflow-y: auto;
  background: var(--background);
}
