:root {
  --background: #121217;
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary: #1e1e2a;
  --navbar-dark-secondary: #2a2a3d;
  --navbar-light-primary: #ffffff;
  --navbar-light-secondary: #888fa6;

  --gap: 1vw;
  --navbar-width: 256px;
  --navbar-width-min: 80px;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);
}

.container {
  position: relative;
  height: 100vh;
}

.content {
  position: absolute;
  top: var(--gap);
  bottom: var(--gap);
  left: calc(var(--gap) + var(--navbar-width) + var(--gap));
  right: var(--gap);
  transition: left 0.2s ease;
}

.container.collapsed .content {
  left: calc(var(--gap) + var(--navbar-width-min) + var(--gap));
}
